<%- include partials/header.ejs %>

<img src="/pictures/record-image.jpg" alt="Sepia toned image of a record-player playing a record">

<div class="row-sp-btwn">

<div class="one-third">
  <h2>Records</h2>

  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div class="box">
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>
</div>

<div class="two-thirds">
  <h2>Reviews</h2>

  <%reviews.forEach((review) => { %>
    <div class="box">
      <div class="row-sp-btwn">
        <h2><%= review.title %></h2>
        <h3><%= review.date_created %></h3>

        <% if (review.user_id === userId) { %>
          <img src="/pictures/trash.png" alt="delete" class="delete" data-review-id='<%= review.review_id %>'>
        <% } %>

      </div>
      <p><%= review.content %></p>
      <p>by <a href="/users/<%= review.user_id%>"><%= review.name %></a></p>
    </div>
  <% }) %>

</div>

</div>
<%- include partials/footer.ejs %>
